$primary-color: #ff8c00;
$max-width: 1440px;

* {
  max-width: max-width;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Hind Siliguri", sans-serif;
}

#top-navigation {
  background-color: $primary-color;
  color: black;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 0;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 14px;
    padding: 8px 0;
  }
}

// Navbar Styling
.container-width {
  width: 95%;
  margin: 0 auto;
  max-width: max-width;
  display: flex;
}
.navbar {
  background: #f1eaea;
  padding: 10px 0;

  .navbar-brand img {
    margin-right: 10px;
  }

  .navbar-nav {
    gap: 25px;
  }

  .nav-link {
    color: black;
    font-size: 20px;
    font-weight: 700;
    padding: 5px 5px;

    &:hover {
      background-color: rgba(255, 140, 0, 0.1);
      border-radius: 5px;
    }
  }
  #input {
    padding: 0 10px;
    width: 150px;
    border-radius: 100px;
    background: #fff;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    &:focus {
      outline: none;
      box-shadow: 0 0 5px $primary-color;
    }
    input[type="search"] {
      border: 0;
      background: transparent;
      &:focus {
        outline: 0;
        box-shadow: none;
      }
    }
  }

  // Icons Styling
  .d-flex a img {
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}

// Responsive Adjustments
@media (max-width: 992px) {
  .navbar {
    .nav-link {
      font-size: 14px;
      text-align: center;
    }

    .d-flex {
      gap: 2rem;
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    .nav-link {
      font-size: 12px;
      padding: 5px;
    }

    .d-flex {
      gap: 1.5rem;
    }
  }
}
